/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffafc8, #a0d8e1); /* Degradado de rosa pastel a azul */
    color: #333;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
    color: #d2366f; /* Rosa fuerte */
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
    font-weight: bold;
    color: #0077b6; /* Azul fuerte */
    cursor: pointer;
}

nav li:hover {
    text-decoration: underline;
}

.conteiner {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="password"],
input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #d2366f;
    box-shadow: 0 0 5px rgba(210, 54, 111, 0.5);
}

input[type="submit"],
button {
    background: #0077b6; /* Azul fuerte */
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background: #005f8a; /* Azul más oscuro */
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}

#mensaje {
    color: red;
    text-align: center;
}